

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	/*header top start*/
	.top_content {
	    text-align: center;
	}

	.top_content ul li {
		margin-right: 2px !important;
	}

	.top_content ul li i {
	    font-size: 16px;
	}

	
	.mobile {
		padding-left: 0 !important;
	}
	
	.envelope {
		padding-left: 0 !important;
	}

	/*header menu start*/
	.custom_btn {
	    padding: 5px 10px !important;
	}
	.menu_link {
		display: none !important;
	}
	/*banner start*/
	.banner {
	    padding: 35px 0;
	}

	.banner_content h1 {
	    font-size: 36px;
	}

	.banner_content p {
	    font-size: 20px;
	}

	.banner_content a {
	    font-size: 16px;
	    padding: 10px 15px;
	}

	/*about us start*/
	.about_us {
	    padding: 35px 0;
	}

	.about_title {
	    margin-bottom: 30px;
	}

	.about_content i {
	    font-size: 50px;
	}

	.about_content h3 {
	    margin-bottom: 15px;
	}

	.about_content p {
	    font-size: 15px;
	}

	/*approach start*/
	.about_content i {
	    font-size: 60px;
	    margin-bottom: 20px;
	}

	.about_content h3 {
	    margin-bottom: 15px;
	}

	/*our work start*/
	.approach {
	    padding: 40px 0 0;
	}

	.approach_title {
	    margin-bottom: 0;
	}

	.card_content {
	    padding: 30px 20px 30px 20px;
	}

	.card_image {
		text-align: center;
		width: 100%;
	}

	.step_one img {
		display: none;
	}

	.step_two img {
		display: none;
	}


	.left_align {
		text-align: left !important;
	}

	/*our work start*/
	.our_work {
		padding: 35px 0;
	}

	/*contact start*/
	.contact {
		padding: 35px 0;
	}

	.common_title h1 {
	    font-size: 25px;
	}

	.contact_form {
	    padding: 10px 0; 
	}

	.contact_form > button {
	    width: 40px;
	    height: 40px;
	}

	.submit_btn button {
		margin-top: 5px;
	}

	/*newsletter start*/
	.newsletter {
		padding: 35px 0;
	}

	.email_field input {
	    padding: 20px 20px;
	}

	.subscribe_btn button {
	    margin-top: 10px;
	}

	/*footer start*/
	.footer_content p {
	    font-size: 14px;
	}	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.top_content {
	    padding: 0;
	}
	/*header menu start*/
	.header_menu {
	    padding: 10px 0;
	}

	.custom_navbar {
		padding-left: 0;
		padding-right: 0;
	}

	.custom_nav ul {
	    float: right;
	    text-align: right;
	}

	.custom_nav ul li {
		margin-right: 0;
	}

	.custom_nav ul li button {
	    margin-top: 10px;
	}

	/*banner start*/
	.banner {
	    padding: 100px 0;
	}

	.banner_content a {
	    font-size: 15px;
	    padding: 10px 15px;
	    transition: 0.3s;
	    border: none;
	}

	.banner_content h1 {
	    font-size: 40px;
	}

	.banner_content p {
	    font-size: 19px;
	}

	/*about us start*/
	.about_us {
	    padding: 40px 0;
	}

	.about_content i {
	    font-size: 60px;
	    margin-bottom: 20px;
	}

	.about_content h3 {
	    margin-bottom: 15px;
	}

	/*our work start*/
	.approach {
	    padding: 40px 0;
	}

	.approach_title {
	    margin-bottom: 30px;
	}

	.card_content {
	    padding: 30px 40px 30px 50px;
	}

	.card_image {
		text-align: center;
		padding: 30px 0 0 50px;
		width: 90%;
	}

	.step_one {
		top: 45%;
	}

	.step_one img {
		width: 65%;
	}

	.step_two {
		top: 45%;
		left: -5px;
	}

	.step_two img {
		width: 65%;
	}

	.left_align {
		text-align: left !important;
	}

	/*our work start*/
	.our_work {
	    padding: 40px 0;
	}

	/*contact start*/
	.contact {
	    padding: 40px 0;
	}

	.common_title h1 {
	    font-size: 25px;
	}

	.contact_form {
	    padding: 10px 20px;
	}

	.form_title p {
	    font-size: 16px;
	}

	.submit_btn button {
	    margin-top: 5px;
	}

	/*newsletter start*/
	.newsletter {
	    padding: 40px 0;
	}

	.subscribe_btn button {
	    margin-top: 15px;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.header_menu {
	    padding: 10px 0;
	}

	.custom_nav ul {
	    float: right;
	    text-align: right;
	}

	.custom_nav ul li {
		margin-right: 0;
	}

	.custom_nav ul li button {
	    margin-top: 10px;
	}

	/*banner start*/
	.banner {
	    padding: 150px 0;
	}

	.banner_content a {
	    font-size: 20px;
	    padding: 15px 15px;
	}

	/*about us start*/
	.about_us {
	    padding: 40px 0;
	}

	.about_content i {
	    font-size: 50px;
	    margin-bottom: 20px;
	}

	.about_content h3 {
	    font-size: 19px;
	    margin-bottom: 15px;
	}

	/*approach start*/
	.approach {
	    padding: 40px 0;
	}
	/*card image start*/
	.step_one {
	    right: -40px;
	    width: 80px;
	}

	.step_two {
	    left: -40px;
	    width: 80px;
	}
	/*card content start*/
	.card_content {
	    padding: 25px 40px 0 25px;
	}
	.card_content h4 {
	    margin-bottom: 7px;
	}
	/*card text start*/
	.card-text {
	    font-size: 14px;
	}

	/*our work start*/
	.our_work {
	    padding: 40px 0;
	}
	
	/*contact start*/
	.contact {
	    padding: 40px 0;
	}

	.contact_form {
	    padding: 25px 22px;
	}

	.form_title p {
	    font-size: 16px;
	}
	
	/*newsletter start*/
	.newsletter {
	    padding: 40px 0;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*header start*/
	.header_menu {
	    padding: 15px 0;
	}
	
	/*banner start*/
	.banner {
	    padding: 150px 0;
	}

	.banner_content p {
	    font-size: 26px;
	}

	.banner_content a {
	    font-size: 18px;
	    padding: 12px 22px;
	}

	/*about us start*/
	.about_us {
	    padding: 60px 0;
	}

	/*approach start*/
	.approach {
	    padding: 60px 0 50px;
	}

	/*card image start*/
	.step_one {
	    top: 30%;
	    width: 90px;
	}

	.step_two{
		top: 30%;
		width: 90px;
	}
	/*card content start*/
	.card_content {
	    padding: 55px 40px 0 50px;
	}

	.card_content h4 {
	    margin-bottom: 10px;
	}

	.card-text {
	    font-size: 14px;
	}

	/*our work*/
	.our_work {
	    padding: 60px 0;
	}

	/*contact start*/
	.contact {
	    padding: 60px 0;
	}

	.form_title p {
	    font-size: 16px;
	}

	/*newsletter start*/
	.newsletter {
	    padding: 60px 0;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}


